data/**
.history/
mesh/
proj_env/
__pycache__/
processedData/
cls/
.data/
wandb/
honsEnv/
.DS_Store
*/.DS_Store
pointnet.pytorch/utils/cls/
pointnet.pytorch/shapenetcore_partanno_segmentation_benchmark_v0/
pointnet.pytorch/.history/
pointnet/.history/
pointnet/pointnet/bin/
pointnet/pointnet/include/
pointnet/pointnet/lib/
pointnet/pointnet/__pycache__/
pointnet/pointnet/lib64/
*.pt
quan_assessment_framework/ganmetrics/g.npy
quan_assessment_framework/ganmetrics/t.npy
data\ (copy)/
dataFull/
processedDataFull/
fakeFace.npy
train_losses.npy
train_metrics.npy
pointnet/pointnet/lib/python3.10
